body{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
        "header header header"
        "main main nav"
        ". . links"
        "footer footer footer";
}

#block1{
    background-color:blue;
    grid-area: header;
}

#block2{
    background-color:red;
    grid-area: main;
}

#block3{
    background-color:yellow;
    grid-area: nav
}

#block4{
    background-color:purple;
    grid-area: links
}

#block5{
    background-color:gray;
    grid-area: footer
}

#block2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "sb1 sb1"
     "sb2 sb3";
}

#subblock1{
    background-color: orange; 

    grid-area: sb1;
}
#subblock2{
    background-color: darkorange; 
    grid-area: sb2;
}
#subblock3{
    background-color: lightcoral; 
    grid-area: sb3;
}




